/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .fixedHeaderContainer 
    {
        border-bottom: 1px solid #075e8c;
    }
}


@media only screen and (max-width: 1023px) { 
    .navigationSlider .slidingNav ul 
    {
        margin-top: 56px
    }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

img + em { 
    width: 100%;
    float: right;
    margin: 10px 0px;
    font-size: 0.9em;
    text-align: center;
}

.fixedHeaderContainer 
{
    padding: 11px 0;
}

.fixedHeaderContainer header img 
{
    height: 40px;
}

.navigationSlider .slidingNav ul li a 
{
    font-weight: 400;
    font-size: 1rem;
}